.contact-us {
  padding: 0 30px;
  margin-bottom: 40px;

  &-title {
    font-family: uniqueID;
    font-size: 32px;
    font-weight: normal;
    line-height: 45px;
    color: #333333;
    font-weight: 550;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(174, 174, 174, 0.6);
  }
  .contact-us-content-item {
    height: 88px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(174, 174, 174, 0.6);
    &-icon {
      width: 42px;
      height: 42px;
      margin-right: 16px;
    }
    &-value {
      font-family: uniqueID;
      font-size: 24px;
      font-weight: normal;
      line-height: 33px;
      letter-spacing: normal;
      color: #737373;
    }
  }
}
